@import 'ot-sites/src/scss/settings/base-variables';
@import 'ot-sites/src/scss/settings/foundation-settings';

$callout-notification-border-left-width: 5px;
$callout-notification-radius: 0.6rem;
$callout-notification-large-font-scale: 150%;
$callout-notification-small-font-scale: 80%;
