$lightblue:		#0077ca; 
$darkblue: 		#003c71;
$bluelight:		$lightblue;
$bluedark:		$darkblue;
$grey: 				#53565a;
$greylight:		scale-color($grey, $lightness: 90%);
$greymedium:	scale-color($grey, $lightness: 75%);

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #151515;//#0a0a0a;
$white: #ffffff; //#fefefe;

$primary-color: $lightblue !default;
$secondary-color: $grey !default;
$tertiary-color: $greymedium !default;
$accent-color: $darkblue !default;

$emergency-color: #A40B0B;
$success-color: 	#2ED64C;
$warning-color: 	#FFAE00;
$alert-color: 		#D00606;

$alert-callout-notification-border-left-width: 5px;
$alert-callout-notification-radius: 0.6rem;
$alert-callout-notification-large-font-scale: 150%;
$alert-callout-notification-small-font-scale: 80%;
